<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vishvaa Ravishankar">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Vishvaa Ravishankar professional website">
    <title>Curriculum Vitae - Vishvaa Ravishankar</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Vishvaa Ravishankar</h1>
        <nav>
            <a href="../index.html">About</a>
            <a href="cv.html">Resume</a>
            <a href="fun.html">Play</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <div class="main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Institution Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Bemis Elementary School</td>
                <td>Elementary School Education</td>
            </tr>
            <tr>
                <td>Boulan Park Middle School</td>
                <td>Middle School Education</td>
            </tr>
            <tr>
                <td>Troy High School</td>
                <td>High School Diploma</td>
            </tr>
            <tr>
                <td>Carnegie Mellon University</td>
                <td>Bachelor of Science in Information Systems</td>
            </tr>
        </table>
        <a href="https://resumevishvaaravishankardocxpdf.tiiny.site/" target="_blank">My Resume (PDF)</a>
    </div>
    <footer>
        <p id="copyYear">&copy; Designed and Coded by Vishvaa Ravishankar</p>
    </footer>
</body>
</html>